.wrapper {
    border-radius: 3px;
    padding: 2px;
    left: 28px;
    width: 1350px;
    position: relative;
    height: 230px;
    top: 80px;
    background-color: darkcyan;
}
.cards{
    transform: scale(0.9,0.9);
    height: 200px;
    background-color: darkgoldenrod;
}
.slick-prev{
    border: none;
    border-radius: 54px;
    cursor: pointer;
    background-color: #080908;
    width: 32px;
    position: absolute;
    left: -20px;
    height: 37px;

}
.slick-prev:before{
    font-family: 'slick';
    font-size: 28px;
    line-height: 1.4;
    opacity: .75;
    color: #dca6a6;
    -webkit-font-smoothing: antialiased;
}
.slick-next{
    background-color: darkgreen;
}